- form_for(@job) do |f|

  %label{:for => 'title'} Title:
  = f.text_field :title

  %label{:for => 'job_description'} Description:
  = f.text_area :description, :cols => 60
  = link_to 'markdown available', ' http://daringfireball.net/projects/markdown/syntax'

  %label{:for => 'job_contract'} Contract?
  = f.check_box :contract

  %label{:for => 'job_published'} Publish?
  = f.check_box :published
  