%h1=t "Edit Profile"

= error_messages_for :user

- form_for(@user, :html => { :multipart => true }) do |f|

  .panel
  
    %h2 Profile

    %p
      %label{:for => "user_about"} About you:
      = f.text_area :about, :size => "35x5"

    %p
      %label{:for => "user_links"} Links:
      = f.text_area :links, :size => "35x5"
      
    %p
      %label{:for => "user_github_username"} GitHub Username:
      = f.text_field :github_username, :size => 30

    %p
      %label{:for => "user_avatar"} Avatar:
      = f.file_field :avatar
    
    %p
      = f.submit "Save"
      or
      = link_to 'Back to Profile', @user
      
  
  .panel

    %h2 Account
    = render :partial => 'form', :locals => {:f => f}
        
  %br.clear