
= form_for :user, :url => password_reset_path do |f|
  - flash.each do |key, value|
    .flash
      = value
  %ul
    %br
    %li
      = "Enter your email address and we'll email you with a new password."
    %br
    %li
      = f.text_field :email
    %li
      = f.submit "Submit", :class => "submit"