%h1=pt "Signup"

= error_messages_for :user

= form_for(@user, :html => { :multipart => true }) do |f|
  = render :partial => 'form', :locals => {:f => f}

  %p
    %label Please enter these words:
    = recaptcha_tag(:challenge).html_safe

  %p
    = f.submit "Create account"
