.profile

  #links_and_projects

    - unless @user.about.blank?
      %p#about
        = @user.about
        %br

    - unless @user.links.blank?
      %p
        %strong= "Links"
        %ul#links
          = iconify_and_link @user.links, :size => 32

    - unless @user.projects.empty?
      %p
        %strong Projects
        %ul.projects
          = show_github_projects_for(@user)

  #basics

    #avatar
      = image_tag @user.avatar.url(:medium)

    %h1=pt @user.full_name

    %ul#stats
      - if @user.admin?
        %li
          %strong= link_to @user.role, team_path

      - unless @user.started_using_ruby_on.blank?
        %li
          Using Ruby since
          = @user.started_using_ruby_on.strftime('%B %Y')
      - unless @user.neighborhood.blank?
        %li
          Lives in
          = @user.neighborhood
      - unless not @user.available_for_work?
        %li
          Available for work
      - unless not @user.show_email?
        %li
          = mail_to(@user.email, 'Email me', :encode => "javascript")


    - if @user == current_user or current_admin
      %p
        = link_to 'edit profile', edit_user_path(@user)
      %p
        = link_to 'delete profile', user_path(@user), :method => :delete, :confirm => "Are you sure you wish to delete your profile?  Your profile will be completely removed."

  %br.clear
