#sponsors
  %span SD Ruby is sponsored by&hellip;
  = link_to(image_tag("application/ucsd.gif", :size => "190x49", :alt => "UCSD"), "http://www-cse.ucsd.edu")
  = link_to(image_tag("application/joyent.gif", :size => "141x49", :alt => "Joyent"), "http://joyent.com")
  = link_to(image_tag("application/peepcode.gif", :size => "106x49", :alt => "Peepcode"), "http://peepcode.com")
  = link_to(image_tag("application/rubymine.gif", :size => "208x47", :alt => "Rubymine"), "http://jetbrains.com/ruby/")
  = link_to(image_tag("application/oreilly.gif", :size => "196x49", :alt => "O'Reilly"), "http://oreilly.com/")
