%h1=t "New widget"

= error_messages_for :widget

- form_for(@widget) do |f|
  %p
    %label{:for => "widget_setup"} Setup:
    = f.text_field :setup

  %p
    %label{:for => "widget_email"} View:
    = f.text_area :view

  %p
    %label{:for => "widget_about"} Column:
    = f.text_field :column

  %p
    %label{:for => "widget_links"} Row:
    = f.text_field :row

  %p
    = f.submit "Create"

%p= link_to 'Back', widgets_path