#sponsors
  %span= link_to "SD Ruby is sponsored by&hellip;".html_safe, sponsors_path
  = link_to(image_tag("sponsors/home/ucsd.png", :size => "191x43", :alt => "UCSD", :id => "ucsd"), "http://www-cse.ucsd.edu")
  = link_to(image_tag("sponsors/home/joyent.png", :size => "173x49", :alt => "Joyent"), "http://joyent.com")
  = link_to(image_tag("sponsors/home/heroku.png", :size => "162x50", :alt => "Heroku", :id => "heroku"), "http://heroku.com")
  = link_to(image_tag("sponsors/home/monk.png", :size => "273x35", :alt => "Monk Development", :id => "monk"), "http://www.monkdevelopment.com")
