#speak

  = image_tag "pages/speak.jpg", :size => "850x480"

  %h1=pt "Speak at SD Ruby"


  %p Here are some guidelines for speaking at SD Ruby:

  %h2 Proposing Talks

  %p Want to speak at a future SD Ruby meeting? We&rsquo;re looking for awesome speakers who can share their expertise with a tech-saavy audience. Topics can include Ruby and Ruby on Rails, of course. But we also love talks on other web-related or computer science topics (Javascript, MySQL, Postgres, Redis, Git, etc.)

  %p We welcome talks from existing SD Ruby members, as well as from developers who are visiting San Diego. You definitely don&rsquo;t have to live here or a be a member of the group to talk.

  %p
    If that sounds like you,
    = link_to "drop us", "mailto:patrick@mokolabs.com?subject=SD Ruby talk"
    = (link_to "a line", "mailto:rgkaufman@gmail.com?subject=SD Ruby talk")
    with your talk title and description, plus your availability.

  %h2 Preparing Your Talk

  %ul
    %li
      If your talk idea has been accepted, please send us an official talk title and description (if you haven't already). Titles should be short, direct, and fun. Descriptions should be no longer than one paragraph. If you need to see some examples, check out our
      = (link_to "podcast archive", podcasts_path) + "."
    %li Slides should be exactly 1024x768 pixels to insure they are projected and recorded correctly.
    %li We recommend using large type and colors with high contrast so that your content is legible on screen.
    %li When using code samples, also use large type. You might want to break up samples into multiple slides if necessary.
    %li Minimize any live coding. Live coding can be difficult and error prone, so it's best to avoid coding in front of the audience or, at least, reduce your live coding time to a reasonable amount that can be accomplished without major errors. GOOD: Make small changes and reload in the browser. BAD: Compiling Ruby, deploying sites, etc.

  %h2 Giving Your Talk

  %ul
    %li Please arrive 15 minutes before the start of our meeting so that we can get you ready for your talk.

    %li Internet access is provided by UCSD. We have both wireless and Ethernet. Unless you need wireless, we recommend using Ethernet because it is faster and easier to configure.

    %li We will provide the correct adapter for your display. You can bring your own adapter just to be safe, but we likely won&rsquo;t need to use it.

    %li Before you begin speaking, please make sure that you are alone on stage and there are no distractions nearby. Once everything looks okay, WAIT FIVE SECONDS before beginning. Why five seconds? Since we record each talk at SD Ruby and release it as a podcast episode, it helps if we have a bit of pre-roll before your talk begins. If you&rsquo;re moving around a bunch or speaking about something else immediately before starting your talk (i.e. "Great game last night by the Padres... so my name is Patrick and I want to talk about Heroku"), it looks unprofessional.

    %li When asked a question by audience members, make sure that the question is asked using a microphone. If that&rsquo;s not possible for some reason, please repeat the question so that our podcast audience can hear it.

    %li Once your talk has finished and applause has ended, please WAIT FIVE SECONDS before leaving the stage... again, for the same reasons as above.

    %li If this is your first time speaking, don&rsquo;t be nervous. Just speak from your heart about your own experiences exactly the same way you&rsquo;d relate them to a friend and you&rsquo;ll do great.

  %h2 After The Meeting

  %ul
    %li Congrats! You just spoke at SD Ruby!!! Join us at Rock Bottom for a beer?
    %li
      Please publish your slides to the web so that the audience can use them as a potential reference. If you don&rsquo;t already have an account with a slide sharing service, we recommend
      = (link_to "Speaker Deck", "https://speakerdeck.com") + "."
    %li
      Once your slides have been published, please send a link to your slides to
      = (link_to "Patrick Crowley", "mailto:patrick@mokolabs.com?subject=Slides from my SD Ruby talk") + "."
    %li
      Follow us at
      = link_to "@sdruby", "https://twitter.com/sdruby"
      on Twitter.
      When we publish your talk as a podcast episode, we&rsquo;ll tweet about your episode from our account. Retweet us to help promote your episode.

  %h2 Questions?

  %p
    Drop a line to
    = link_to "Patrick Crowley", "mailto:patrick@mokolabs.com?subject=Slides from my SD Ruby talk"
    or
    = link_to "Rob Kaufman", "mailto:rgkaufman@gmail.com?subject=SD Ruby talk"
    if you have a question about speaking.

