%h1=pt "Sponsors"

%p Thanks to the following organizations and companies who support SD Ruby.

#sponsors_page
  %h2 Venue

  %hr

  %p#ucsd= link_to(image_tag("sponsors/ucsd.png", :size => "350x79", :alt => "UCSD CSE"), "http://www-cse.ucsd.edu")
  %p#monk= link_to(image_tag("sponsors/monk.png", :size => "350x45", :alt => "Monk Development"), "http://www.monkdevelopment.com")

  %h2 Podcast &amp; Web Hosting

  %hr

  %p#newrelic= link_to(image_tag("sponsors/newrelic.png", :size => "350x63", :alt => "New Relic"), "http://newrelic.com")
  %p#joyent= link_to(image_tag("sponsors/joyent.png", :size => "290x84", :alt => "Joyent"), "http://joyent.com")

  %h2#raffle Raffle

  %hr 

  %p#heroku= link_to(image_tag("sponsors/heroku.png", :size => "300x100", :alt => "Herkoku"), "http://heroku.com")
  %p#peepcode= link_to(image_tag("sponsors/peepcode.png", :size => "300x84", :alt => "Peepcode"), "http://peepcode.com")
  %p#oreilly= link_to(image_tag("sponsors/oreilly.png", :size => "245x45", :alt => "O'Reilly"), "http://oreilly.com")
  %p#railscasts= link_to(image_tag("sponsors/railscasts.png", :size => "491x40", :alt => "RailsCasts"), "http://railscasts.com")
  %p#rubymine= link_to(image_tag("sponsors/rubymine.png", :size => "302x70", :alt => "Rubymine"), "http://jetbrains.com")

  %h2 Search Hosting

  %hr 

  %p#websolr= link_to(image_tag("sponsors/websolr.png", :size => "277x63", :alt => "Websolr"), "http://websolr.com")

  %br

  %hr 

  %p
    %br
    Want to become an SD Ruby sponsor?
    = link_to "Drop us a line", "mailto:patrick@mokolabs.com?subject=SD Ruby sponsorship"
