%h1=t "Projects"

%p#projects_intro
  This is a list of 
  = @projects.size
  open-source projects created by SD Ruby members.

= render :partial => "project"

%ul#users_with_projects
  - @users.each do |user|
    - unless user.projects.empty?
      %li
        .user
          = link_to(image_tag(user.avatar.url(:small), :size => "36x36"), user)
          .name
            = link_to h(user.full_name), user
        %ul.projects
          = show_github_projects_for(user)