
%h1=pt "Login to SD Ruby"

= form_for @user_session, :url => user_session_path do |f|
  = f.error_messages
  - flash.each do |key, value|
    .flash
      &bull;
      = value

  %p
    = f.label :email
    = f.text_field :email, :size => 25

  %p
    = f.label :password
    = f.password_field :password, :size => 25

  .check_box
    = f.check_box :remember_me
    = f.label :remember_me

  = f.submit "Login"

  = link_to("Forgot Password?", password_reset_path)
