%div{ :class => "result episode published_in_#{podcast.created_at.to_s[0..3]}", "data-id" => podcast.id }
  .small_screenshot
    = link_to(image_tag("application/transparent.gif", :size => "150x116", :alt => "Episode #{podcast.id}", :class => "lazy", "data-original" => podcast.screenshot.url(:small)), podcast_path(podcast.id))
  .details
    %h3.ellipsis
      = link_to "#{podcast.episode_number}: #{podcast.name}", podcast_path(podcast.id)
    %p= truncate(strip_tags(markdown(podcast.description)).squish, {:length => 180})
    .watch
      = link_to "Watch", podcast.movie_link