- t "Episode 0#{@podcast.number}: #{h(@podcast.name)}"

#podcast_episode

  #details
    #number= "Episode #{@podcast.number}"
    %h1= h(@podcast.name)

    = RedCloth.new(@podcast.description).to_html
    
    .watch_now
      = link_to "Watch now", @podcast.movie_link

  .screenshot
    = link_to(image_tag("episodes/#{@podcast.number}.png", :size => "345x266", :alt => "Episode 36"), @podcast.movie_link)

  #actions
    = link_to "More episodes from the SD Ruby Podcast&raquo;", podcasts_path
