!!! Strict
%html{html_attrs}
  %head
    = title :site => "SD Ruby", :separator => "-"
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.3.2.min", "application"
  %body
    #page
      = render :partial => "layouts/header"
      = render :partial => "layouts/slogan"
      #content
        = yield
      = render :partial => "layouts/footer"
