!!! 5
%html{html_attrs}
  %head
    = title :site => "SD Ruby", :separator => "-"
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %meta{"name" => "viewport", :content => "width=930"}
    %link{:rel => "shortcut icon", :href => asset_path("application/favicon.png")}
    %link{:rel => "apple-touch-icon", :href => asset_path("application/apple-touch-icon.png")}
    %link{:rel => "apple-touch-startup-image", :href => asset_path("application/startup.png")}
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "iphone", :media => "only screen and (max-device-width: 480px)"
    = javascript_include_tag "application", "iphone-style-checkboxes"
    - if params[:controller] == "podcasts"
      = auto_discovery_link_tag(:rss, "http://feed.sdruby.org/sdruby", {:title => "SD Ruby Podcast"})
    = csrf_meta_tags
  %body
    #page
      = render "layouts/login"
      = render "layouts/header"
      = render "layouts/slogan"
      = render "layouts/navigation"
      #content
        = yield
      = render "layouts/footer"
    = render "layouts/adsense"
