!!! Strict
%html{html_attrs}
  %head
    = title :site => "SD Ruby", :separator => "-"
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %meta{"name" => "viewport", :content => "width=930"}
    %link{:rel => "shortcut icon", :href => "/images/application/favicon.png"}
    %link{:rel => "apple-touch-icon", :href => "/images/application/apple-touch-icon.png"}
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "iphone", :media => "only screen and (max-device-width: 480px)"
    = javascript_include_tag "jquery-1.3.2.min", "application"
    = auto_discovery_link_tag(:atom, "http://feeds2.feedburner.com/sdrbpodcast", {:title => "SD Ruby Podcast"})
  %body
    #page
      = render :partial => "layouts/header"
      = render :partial => "layouts/slogan"
      = render :partial => "layouts/navigation"
      #content
        = yield
      = render :partial => "layouts/footer"
