!!! Strict
%html{html_attrs}
  %head
    = title :site => "SD Ruby", :separator => "-"
    %meta{"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    %link{:rel => "shortcut icon", :href => "/images/application/favicon.png"}
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.3.2.min", "application"
    = auto_discovery_link_tag(:atom, "http://feeds2.feedburner.com/sdrbpodcast", {:title => "SD Ruby Podcast"})
  %body
    #page
      = render :partial => "layouts/header"
      = render :partial => "layouts/slogan"
      #content
        = yield
      = render :partial => "layouts/footer"
